<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ipfs.ink</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/assets/{{ style_css }}">
        <script src="/assets/{{ bundle_js }}" async></script>

        <link rel="canonical" href="https://ipfs.ink/e/{{ hash }}">
        <meta name="description" content="Publish and render markdown essays to and from ipfs">
        <meta property="og:type" content="website" >
        <meta property="og:site_name" content="ipfs.ink">
        <meta property="og:title" content="ipfs.ink">
        <meta property="og:description" content="Publish and render markdown essays to and from ipfs">
        <meta property="og:image" content="https://ipfs.io/ipfs/QmQDpV28kYRHsCdrvV8JbUwbuaB92NdVggjnAwsduikHUy/ipfs.png">
        <meta property="og:image:secure_url" content="https://ipfs.io/ipfs/QmQDpV28kYRHsCdrvV8JbUwbuaB92NdVggjnAwsduikHUy/ipfs.png">
        <meta property="og:url" content="https://ipfs.ink/e/{{ hash }}">
    </head>
    <body>
        <article id="content">Loading...</article>
        <hr>
        <footer class="pull-right">
            powered by <a href="/">ipfs.ink</a>. handcrafted with love, ipfs and rust.<br>
            opensource on github <a href="https://github.com/kpcyrd/ipfs.ink">kpcyrd/ipfs.ink</a>.<br>
            <a href="/ipfs/{{ hash }}">&lt;view source&gt;</a>.
        </footer>
    </body>
</html>
